.lp-toast-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lp-toast-mask {
  width: 100%;
  height: 100%;
  // background: rgba($color: #000000, $alpha: .3);
}

.lp-toast-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  min-width: 200rpx;
  max-width: 70%;
  min-height: 200rpx;
  // background: rgba($color: #000000, $alpha: .5)
}

.lp-toast-text {
  width: 100%;  
  word-wrap: break-word;
  text-align: center;
}
